/bin/
/build/ 			# Excluir directorio el directorio build
# !/build/reports/ 	# Incluir el directorio de reports
.classpath
.settings/
.gradle/
client22-*
xmltv_cap/xmltvDump*
unoquenoexiste
/build/
/captures/
/src/main/resources/META-INF/MLChannels_DBFiles
imgSpy.jpeg
errFile.txt
/data/