<!DOCTYPE html>
<html>
<head>
<meta content='max-age=0' http-equiv='cache-control'>
<meta content='no-cache' http-equiv='cache-control'>
<meta content='0' http-equiv='expires'>
<meta content='Tue, 01 Jan 1980 1:00:00 GMT' http-equiv='expires'>
<meta content='no-cache' http-equiv='pragma'>
<meta charset='UTF-8'>
<script type='text/javascript' src='/../js/jquery-2.1.4.min.js'></script>
<!-- <script src='../js/CatalogClient.js'></script> -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var hashNameProg = /*[[${hashNameProg}]]*/ "";
    /*]]>*/
</script>
<script>
	function getHashFromLink(link) {
		var mySplitResult = link.split('/');
		return mySplitResult[mySplitResult.length - 1]
	}
	function populateProgrammeSchedules() {
		var table = $('#tableProgrammes');
		var url = 'http://localhost:8080/catalog/schedules/?hashNameProg='
				+ hashNameProg;
		$.getJSON(url, function(jsonContent) {
			$.each(jsonContent, function(idx, elem) {
				var linkChannel = elem._links.channel.href;
				var linkProgramme = elem._links.programme.href;
				var hashIdChBusiness = getHashFromLink(linkChannel);
				var hashNameProg = getHashFromLink(linkProgramme);

				var link = 'http://localhost:8080/publisher/schedules/?'
						+ 'hashIdChBusiness=' + hashIdChBusiness
						+ '&hashNameProg=' + hashNameProg + '&start='
						+ elem.start + '&end=' + elem.end;
				table.append('<tr><td><strong><a href="'+link+'">' + elem.start
						+ ' ---- ' + elem.end + '</strong></td></tr>');
			});
		});
	}
</script>
<title>Lista de programas</title>
</head>
<body>
	<h1>Lista de programas</h1>
	<table id='tableProgrammes'></table>
	<script>
		populateProgrammeSchedules();
	</script>
</body>
</html>