<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <!-- Bootstrap core CSSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <title>Admin Channels</title>
<script>
function queryForActivationSwitch(elem, hashIdChBusiness, activation) {
	$.ajax({
		type : "POST",
		url : "/admin/channels/activation/",
		data : { hashIdChBusiness: hashIdChBusiness, activation: activation},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 202: // ACCEPTED
				if (elem.innerHTML == 'true') { // Si está activado -> Desactivar
					elem.innerHTML = 'false';
					elem.className = "btn btn-danger";
					// Cambiar el estado del botón de spied a falso
					var spiedElem = elem.parentElement.parentElement.getElementsByTagName("*")[5];
					spiedElem.innerHTML = 'false';
					spiedElem.className = "btn btn-danger";
				}
				else { // Si está desactivado -> Activar
					elem.innerHTML = 'true';
					elem.className = "btn btn-success";
				}
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function queryForSpyingSwitch(elem, hashIdChBusiness, spying) {
	$.ajax({
		type : "POST",
		url : "/admin/channels/spying/",
		data : { hashIdChBusiness: hashIdChBusiness, spying: spying},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 202: // ACCEPTED
				if (elem.innerHTML == 'true') { // Si está spied -> Desactivar spying
					elem.innerHTML = 'false';
					elem.className = "btn btn-danger";
				}
				else { // Si está not spied -> Activar spying
					elem.innerHTML = 'true';
					elem.className = "btn btn-success";
				}
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function queryForCrossValidation(elem, hashIdChBusiness, alreadyTrained) {
	$.ajax({
		type : "GET",
		url : "/admin/channels/crossvalidation/",
		data : { hashIdChBusiness: hashIdChBusiness, alreadyTrained: alreadyTrained},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 200: // OK
				alert(jqXHR.responseText);
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function queryForPublishSchedule(elem, hashIdChBusiness, realtime) {
	$.ajax({
		type : "GET",
		url : "/admin/channels/publishSchedule/",
		data : { hashIdChBusiness: hashIdChBusiness, realtime: realtime},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 200: // OK
				//
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function onActiveClicked(elem, hashIdChBusiness) {
	//alert("You clicked "+elem);
	if (elem.innerHTML == 'true') { // Si está activado -> Desactivar
		queryForActivationSwitch(elem, hashIdChBusiness, false);
	}
	else { // Si está desactivado -> Activar
		queryForActivationSwitch(elem, hashIdChBusiness, true);
	}
}

function onSpiedClicked(elem, hashIdChBusiness) {
	//alert("You clicked "+elem);
	if (elem.innerHTML == 'true') { // Si está spying -> Desactivar spying
		queryForSpyingSwitch(elem, hashIdChBusiness, false);
	}
	else { // Si está not spying -> Activar spying
		queryForSpyingSwitch(elem, hashIdChBusiness, true);
	}
}

function onCrossValidationClicked(elem, hashIdChBusiness, trained) {
	if (trained) {
		// alreadyTrained==false -> El clasificador será reinicializado y no se espiarán los datos de test
		var alreadyTrained = false;
		queryForCrossValidation(elem, hashIdChBusiness, alreadyTrained);
	}
}

function onPublishScheduleClicked(elem, hashIdChBusiness, realtime) {
	queryForPublishSchedule(elem, hashIdChBusiness, realtime);
}
</script>

</head>
<h2>Channels</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>idChBusiness</th>
      <th>active</th>
      <th>spied</th>
      <th>Publish Schedules</th>
      <th>Good Samp</th>
      <th>Bad Samp</th>
      <th>K-Fold C-V</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ch : ${lChData}">
      <td th:name="idChBusiness" th:text="${ch.idChBusiness}">None</td>
      <td th:name="active">
      	<button th:text="${ch.active}" 
      		th:class="${ch.active}? 'btn btn-success' : 'btn btn-danger'"
      		th:onclick="'javascript:onActiveClicked(this, \''+ ${ch.hashIdChBusiness} +'\');'">None</button>
      </td>
      <td th:name="spied">
      <button th:text="${ch.spied}" 
      		th:class="${ch.spied}? 'btn btn-success' : 'btn btn-danger'"
      		th:onclick="'javascript:onSpiedClicked(this, \''+ ${ch.hashIdChBusiness} +'\');'">None</button>
      </td>
      <td>
      <button th:text="Schedule"
      		th:class="'btn btn-info'"
      		th:onclick="'javascript:onPublishScheduleClicked(this, \''+ ${ch.hashIdChBusiness} +'\', false);'">None</button>
      <button th:text="RtSchedule"
      		th:class="'btn btn-primary'"
      		th:onclick="'javascript:onPublishScheduleClicked(this, \''+ ${ch.hashIdChBusiness} +'\', true);'">None</button>
      </td>
      <td th:name="goodSamples" th:text="${ch.mlChannel.numTrueSamplesLearned}">None</td>
      <td th:name="badSamples" th:text="${ch.mlChannel.numFalseSamplesLearned}">None</td>
      <td>
      <button th:text="${ch.mlChannel.trained}? 'EXECUTE' : 'DISABLED'"
      		th:class="${ch.mlChannel.trained}? 'btn btn-success' : 'btn btn-default'"
      		th:onclick="'javascript:onCrossValidationClicked(this, \''+ ${ch.hashIdChBusiness} +'\', \''+ ${ch.mlChannel.trained} +'\');'">None</button>
      </td>
    </tr>
  </tbody>
</table>
</html>