<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <!-- Bootstrap core CSSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <title>Admin Channels</title>
<script>
function queryForActivationSwitch(elem, hashIdChBusiness, activation) {
	$.ajax({
		type : "POST",
		url : "/admin/channels/activation/",
		data : { hashIdChBusiness: hashIdChBusiness, activation: activation},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 202: // ACCEPTED
				if (elem.innerHTML == 'true') { // Si está activado -> Desactivar
					elem.innerHTML = 'false';
					elem.className = "btn btn-danger";
					// Cambiar el estado del botón de spied a falso
					var spiedElem = elem.parentElement.parentElement.getElementsByTagName("*")[5];
					spiedElem.innerHTML = 'false';
					spiedElem.className = "btn btn-danger";
				}
				else { // Si está desactivado -> Activar
					elem.innerHTML = 'true';
					elem.className = "btn btn-success";
				}
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function queryForSpyingSwitch(elem, hashIdChBusiness, spying) {
	$.ajax({
		type : "POST",
		url : "/admin/channels/spying/",
		data : { hashIdChBusiness: hashIdChBusiness, spying: spying},
		complete: function(jqXHR, textStatus) {
			var result = false;
			switch(jqXHR.status){
			case 202: // ACCEPTED
				if (elem.innerHTML == 'true') { // Si está busy -> Desactivar spying
					elem.innerHTML = 'false';
					elem.className = "btn btn-danger";
				}
				else { // Si está not busy -> Activar spying
					elem.innerHTML = 'true';
					elem.className = "btn btn-success";
				}
			default:
				console.log("jqXHR.status="+jqXHR.status);
				break;
			}
		}
	});
}

function onActiveClicked(elem, hashIdChBusiness) {
	//alert("You clicked "+elem);
	if (elem.innerHTML == 'true') { // Si está activado -> Desactivar
		queryForActivationSwitch(elem, hashIdChBusiness, false);
	}
	else { // Si está desactivado -> Activar
		queryForActivationSwitch(elem, hashIdChBusiness, true);
	}
}

function onSpiedClicked(elem, hashIdChBusiness) {
	//alert("You clicked "+elem);
	if (elem.innerHTML == 'true') { // Si está busy -> Desactivar spying
		queryForSpyingSwitch(elem, hashIdChBusiness, false);
	}
	else { // Si está not busy -> Activar spying
		queryForSpyingSwitch(elem, hashIdChBusiness, true);
	}
}
</script>

</head>
<h2>Channels</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>nameCh</th>
      <th>idChBusiness</th>
      <th>active</th>
      <th>spied</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ch : ${lChData}">
      <td th:name="nameProg" th:text="${ch.nameProg}">None</td>
      <td th:name="idChBusiness" th:text="${ch.idChBusiness}">None</td>
      <td th:name="active">
      	<button th:text="${ch.active}" 
      		th:class="${ch.active}? 'btn btn-success' : 'btn btn-danger'"
      		th:onclick="'javascript:onActiveClicked(this, \''+ ${ch.hashIdChBusiness} +'\');'">None</button>
      </td>
      <td th:name="busy">
      <button th:text="${ch.busy}" 
      		th:class="${ch.busy}? 'btn btn-success' : 'btn btn-danger'"
      		th:onclick="'javascript:onSpiedClicked(this, \''+ ${ch.hashIdChBusiness} +'\');'">None</button>
      </td>
    </tr>
  </tbody>
</table>
</html>